@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using System.Linq;
@model List<UniBazaarLite.Models.Listing>

<h2>Items for Sale</h2>

<p>
    <a href="/Items/Create" class="btn-create">Create New Item</a>
</p>

@if (!Model.Any())
{
    <p>No items found.</p>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <strong>@item.Title</strong> - ₺@item.Price
                <br />
                <em>@item.Description</em>
                <br />
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </li>
        }
    </ul>
}
